.fm-b-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.fm-b-floor-wrapper {
  position: absolute;
  top: 40px;
  right: 10px;
}
.fm-b-floor-list {
  display: flex;
  flex-direction: column;
}
.fm-b-floor-item {
  margin: 5px 0;
  color: white;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: #409eff;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}
.fm-b-floor-item:hover {
  background: #2c91f9;
}
.fm-b-back-wrapper {
  position: absolute;
  top: 40px;
  left: 10px;
  z-index: 2;
}
.fm-b-back-icon {
  color: #409eff;
  font-size: 20px;
  cursor: pointer;
}
