@import './normalize.scss';
@import './reset.scss';

html {
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
  font-size: 16px;
}

#__nuxt,#__layout {
  width: 100%;
  height: 100%;
}

.layout-lr {
  > div:first-child {
    float: left;
  }
  > div:nth-child(2) {
    overflow: hidden;
  }
}

.layout-rl {
  > div:first-child {
    float: right;
  }
  > div:nth-child(2) {
    overflow: hidden;
  }
}